/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

 audio,
 canvas,
 iframe,
 img,
 svg,
 video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

   .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  @font-face {
    font-family: 'Bariol-Regular';
    src: url('../fonts/Bariol-Regular.eot');
    src: url('../fonts/Bariol-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Bariol-Regular.woff') format('woff'),
    url('../fonts/Bariol-Regular.ttf') format('truetype'),
    url('../fonts/Bariol-Regular.svg#Bariol-Regular') format('svg');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
      font-family: 'ShowcardGothic-Reg';
      src: url('../fonts/ShowcardGothic-Reg.eot');
      src: url('../fonts/ShowcardGothic-Reg.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ShowcardGothic-Reg.woff') format('woff'),
      url('../fonts/ShowcardGothic-Reg.ttf') format('truetype'),
      url('../fonts/ShowcardGothic-Reg.svg#ShowcardGothic-Reg') format('svg');
      font-style: normal;
      font-weight: normal;
    }
  html{
    font-family: ShowcardGothic-Reg;
    color: #DDDDDA;
  }
  ul{
      list-style-type: none;
  }
  body{
    background: #000 url('../img/bodyback.jpg') no-repeat;
    background-size: 100%;
  }
  h2{
    position: absolute;
    top: 31%;
    left: 43%;
  }
  a{
      text-decoration: none;
  }
  nav{
      margin: 0 auto;
      width: 60%;
  }
nav ul {
    margin: 3% 0 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: right;
    background: #eee;
    border-bottom: 1px solid #fff;
    border-radius: 3px;
}

nav li {
    float: left;
}

nav #login, #signup {
    border-right: 1px solid #ddd;
    box-shadow: 1px 0 0 #fff;
}

nav #login-trigger, nav #signup-trigger {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    padding: 0 8px;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

nav #login-trigger, #signup-trigger {
    border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover, nav #signup-trigger:hover {
    background: #fff;
}

nav #login-content, #signup-content {
    display: none;
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 999;
    background: #fff;
    background-image: linear-gradient(top, #fff, #eee);
    padding: 15px;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    border-radius: 3px 0 3px 3px;
}

nav li #login-content, #signup-content {
    right: 0;
    width: 250px;
}

/*--------------------*/

.inputs input {
    font-family: Bariol-Regular;
    background: #f1f1f1;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 238px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px #ccc inset;
}

.inputs input:focus {
    background-color: #000;
    border-color: #fff;
    outline: none;
    box-shadow: 0 0 0 1px #000 inset;
}

/*--------------------*/

#login #submit, #signup #register {
    font-family: ShowcardGothic-Reg;
    background-color: #497000;
    background-image: linear-gradient(top, #c5e161, #497000);
    border-radius: 3px;
    border: 1px solid #274f04;
    float: left;
    height: 30px;
    padding: 0;
    width: 100px;
    font: ShowcardGothic-Reg;
    color: #fff;
}

#login #submit:hover, #login #submit:focus, #signup #register:hover, #signup #register:focus{
    background-color: #76991b;
    background-image: linear-gradient(top, #678517, #76991b);
}

#login #submit:active, #signup #register:active{
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

 .invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
